
train.csv

test.csv

.RDataTmp

.Rproj.user/

.RData

.Rproj.user/8C91E457/sdb/prop/INDEX

.Rproj.user/8C91E457/sdb/prop/INDEX

.Rproj.user/8C91E457/sdb/prop/INDEX

.Rproj.user/8C91E457/sdb/s-D08A3CD4/C7C9E4FF

.Rproj.user/8C91E457/sdb/s-D08A3CD4/lock_file

.Rproj.user/8C91E457/sdb/prop/INDEX

.Rproj.user/8C91E457/sdb/s-D08A3CD4/C7C9E4FF

.Rproj.user/8C91E457/sdb/s-D08A3CD4/lock_file
